
body {
    height: 100vh;
    overflow: hidden;
}

/* Hero Section */
.Hero {
    height: 100vh;
    flex-basis: 100%;
    background-image: radial-gradient(circle 200px at top, #f0f2f200, #050b0d9d), url(img/KIROKAZE.gif);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    transition: 0.3 ease-in-out;
    z-index: 1;
    position: relative;
}

.Hero:hover {
    background-image: radial-gradient(circle 200px at top, #50b7c231, #050b0da6), url(img/KIROKAZE.gif);
}

.text-section {
    color: var(--font);
    flex-basis: 35%;
    height: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 90px;
    padding-top: 100px;
    background-image: radial-gradient(circle 150px at left, transparent, transparent);
    transition: 0.3 ease-in-out;
}

.text-section:hover {
    background-image: radial-gradient(circle 150px at left, #50b7c231, transparent);
}

.text-section h3 {
    font-size: 60px;
    text-transform: uppercase;
    translate: -500px 0;
    color: var(--font);
    animation-name: slide-left;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: both;

}

@keyframes slide-left {
    from {
        translate: -500px 0;
        color: transparent;
    }

    to {
        translate: 0 0;
        color: var(--font);
    }
}

.text-section h1 {
    position: relative;
    color: var(--color1);
    top: 15px;
    left: 10px;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0 0;
    translate: 0 50px;
    animation-name: slide-top;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

@keyframes slide-top {
    from {
        translate: 0 50px;
        color: transparent;
    }

    to {
        translate: 0 0;
        color: var(--color1);
    }
}

.text-section p {
    position: relative;
    font-weight: 200;
    bottom: 10px;
    font-size: 28px;
    letter-spacing: 7.5px;
    color: var(--font);
    transition: 0.5 ease-in-out;
    translate: 0 -50px;
    animation-name: slide-bottom;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: both;
    padding-bottom: 10px;
}

@keyframes slide-bottom {
    from {
        translate: 0 -50px;
        color: transparent;
    }

    to {
        translate: 0 0;
        color: var(--font);
    }
}

.text-section p:hover {
    letter-spacing: 0;
}

.btn {
    position: relative;
    display: flex;
    justify-content: flex-start;
    column-gap: 40px;
}


.button {
    padding: 9px 20px;
    text-align: center;
    font-size: 15px;
    border: solid 2px var(--text);
    border-radius: 30px;
    color: var(--text);
    font-weight: bold;
    background-color: transparent;
    transition: 0.5s ease;
    cursor: pointer;
    animation-name: fede-inn;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
}

@keyframes fede-inn {
    from {
        color: transparent;
        border: solid 2px transparent;
    }

    to {
        color: var(--text);
        border: solid 2px var(--text);
    }
}


.button:hover {
    background-color: var(--color1);
    color: var(--font);
    border: solid 2px transparent;
    translate: 0 -5px;
}

.social-media {
    margin-left: 50px;
    height: 10%;
    background-image: radial-gradient(circle 75px at bottom, transparent, transparent);
}

.social-media:hover {
    background-image: radial-gradient(circle 75px at bottom, #50b7c231, transparent);
}

.social-media a {
    padding: 4px;
}


.social-media > a > i{
    font-size: 30px;
    color: var(--font);
    translate: 0 0;
    transition: 0.3s ease;
    animation-name: slide-from-bottom;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

.social-media > a > i:hover {
    transform: scale(1.1);
    translate: 0 -5px;
    color: var(--color1);
}

.social-media > a > i:hover {
    transform: scale(1.1);
    translate: 0 -5px;
    color: var(--color1);
}


@keyframes slide-from-bottom {
    from {
        display: none;
        translate: 0 100px;
    }

    to {
        display: block;
        translate: 0 0;
    }
}


@media (max-width: 600px) {
    .text-section {
        padding-left: 35px;
        align-self: center;
        padding-left: 0;
    }

    .text-section:hover {
        background-image: radial-gradient(circle 150px at left, transparent, transparent);
    }

    .social-media {
        align-self: center;
        margin-left: 0;
    }

    .text-section h3 {
        font-size: 55px;
    }

    .text-section p {
        font-size: 19px;
    }

    .text-section h1 {
        font-size: 50px;
    }

    .button {
        font-size: 12.5px;
    }

}